
show_startup_tips false
show_release_notes false

layout {
    pane split_direction="vertical" {
        pane name="gz_camera" command="bash" {
            args "-lc" "cd /home/user/workspaces/beta_ws && source venv/bin/activate && python -m bt_app.sensors.gz_camera"
        }
        pane name="red_box_tracker" command="bash" {
            args "-lc" "cd /home/user/workspaces/beta_ws && source venv/bin/activate && python -m bt_app.trackers.red_box_tracker --no-camera-publisher"
        }
    }
   
}
